/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(262, 100%, 59%);
  --first-color-alt: hsl(93, 50%, 48%);
  --first-color-light: hsl(273, 72%, 50%);
  --title-color: hsl(228, 8%, 98%);
  --text-color: hsl(228, 8%, 70%);
  --white-color: hsl(228, 8%, 98%);
  --black-color: hsl(228, 6%, 4%);
  --body-color: hsl(228, 6%, 8%);
  --container-color: hsl(228, 6%, 12%);
  --shadow-img: 0 0 48px hsla(258, 89%, 39%, 0.759);
  --gradient-card: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                rgb(80, 25, 126));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__close,
.nav__toggle,
.nav__actions{
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}

.nav__logo{
  font-weight: var(--font-semi-bold);
  column-gap: .25rem;
  align-items: center;
}

.nav__logo i{
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: initial;
}

.nav__logo img {
  height: auto; 
  width: 10vw; 
  max-width: 120px; 
}

.nav__actions{
  font-size: 1.25rem;
  column-gap: .5rem;
  align-items: center;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav__menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(228, 24%, 6%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right .4s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 4s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */
.blur-header::after{
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(228, 24%, 6%, .2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container{
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.home__data{
  text-align: center;
  display: inline-block;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
  text-align: center;
}

.home__title span{
  color: var(--first-color);
}

.home__description{
  margin-bottom: 3rem;
}

.home__button{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  gap: 10px;
}

/*=============== BUTTON ===============*/
.button{
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: var(--font-bold);
  padding: .5rem 1.5rem .5rem .5rem;
  border-radius: 4rem;
  display: inline-flex;
  align-items: center;
  column-gap: .75rem;
}

.button span{
  background-color: var(--first-color);
  padding: .5rem;
  font-size: 1.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform .4s;
}

.button:hover span{
  transform: translateX(.15rem) rotate(-30deg);
}

/*=============== FEATURES ===============*/
.features__data{
  text-align: center;
}

.features__container{
  row-gap: 7.5rem;
}

.features__content{
  row-gap: 6rem;
}

.features__card{
  position: relative;
  width: 200px;
  background: var(--gradient-card);
  padding: 9rem .75rem 1.5rem .75rem;
  border: 2px solid var(--first-color-light);
  border-radius: 1.5rem;
}

.features__img{
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  width: 180px;
  margin: 0 auto;
  transition: transform .4s;
}

.features__title{
  font-size: var(--h2-font-size);
  text-align: center;
}

.features__card:nth-child(odd){
  rotate: -5deg;
}

.features__card:nth-child(even){
  justify-self: flex-end;
  rotate: 5deg;
}

.features__card:hover .features__img{
  transform: translateY(-.5rem);
}

/*=============== BENEFITS ===============*/
.benefits__container{
  padding-top: 2rem;
  row-gap: 2rem;
}

.benefits__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.benefits__list{
  display: grid;
  row-gap: 1rem;
}

.benefits__item{
  display: flex;
  column-gap: .5rem;
  align-items: flex-start;
}

.benefits__item i{
  font-size: 1.5rem;
  color: var(--first-color);
}

.bottom__button{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  margin-top: 4%;
}

/*=========== ADD OMEGA + SHARE LINK ==========*/
.share__container{
  padding-top: 2rem;
  row-gap: 2rem;
}

.share__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.share__content{
  display: grid;
  row-gap: 2rem;
  text-align: center;
}

.share__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.share__social{
  display: flex;
  justify-content: center;
  column-gap: .75rem
}

.share__social a{
  color: var(--first-color);
  font-size: 1.5rem;
}

.share__info{
  font-style: normal;
}

/*=============== SHARE BUTTON ===============*/
.share-button{
  width: 200px;
  height: 55px;
  background: var(--container-color); /* Adjusted to use variable */
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: .3s linear;
}

.share-button:hover{
  background-color: var(--first-color); /* Highlight effect on hover */
}

.share-button span{
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--first-color); /* Adjusted to use variable */
  color: var(--white-color); /* Adjusted to use variable */
  text-align: center;
  line-height: 55px;
  z-index: 999;
  transition: .6s linear;
  border-radius: 40px;
}

.share-button:hover span{
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

.share-button a {
  background: transparent; /* Makes the background of the links transparent */
  flex: 1;
  justify-content: center;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out, opacity 0.3s ease;
}

/* Adjust the span that wraps the icons to create a smaller circle */
.share-button a span {
  width: 40px; /* Smaller width for the circle */
  height: 40px; /* Smaller height for the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--first-color); /* Background color for the circle */
  margin-right: 10px; /* Adjusts spacing between the icon and text */
}

.share-button a i {
  font-size: 28px; /* Decrease the font size to make icons smaller */
}

.share-button:hover a{
  opacity: 1;
  transform: translateX(105%);
}

.share-button a:nth-of-type(1){
  transition-delay: 1s;
}

.share-button a:nth-of-type(2){
  transition-delay: 0.8s;
}

.share-button a:nth-of-type(3){
  transition-delay: 0.6s;
}

.share-button a:nth-of-type(4){
  transition-delay: 0.4s;
}


/*=============== CONTACT ===============*/
.contact__container{
  padding-top: 2rem;
  row-gap: 2rem;
}

.contact__img{
  width: 270px;
  filter: drop-shadow(var(--shadow-img));
  justify-self: center;
}

.contact__content{
  display: grid;
  row-gap: 2rem;
  text-align: center;
}

.contact__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.contact__social{
  display: flex;
  justify-content: center;
  column-gap: .75rem; 
  cursor: pointer;
}

.contact__social a{
  color: var(--first-color);
  font-size: 1.5rem;
}

.contact__info{
  font-style: normal;
}

/*============ FEEDBACK =============*/
.feedback h2{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: var(--font-bold);
}

.feedback form{
  width: 600px;
  text-align: center;
  margin: auto;
}

form .input-box{
  display: flex;
  justify-content: space-between;
}

.input-box .input-field{
  width: 48.5%;
}

.field .item{
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid var(--first-color);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: var(--white-color);
  margin: 12px 0;
}

.field.error .item{
  border-color: #d93025;
}

.field .item::placeholder{
  color: var(--text-color);
}

.field .error-txt{
  font-size: 14.5px;
  color: #d93025;
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-txt{
  display: block;
}

form .textarea-field .item{
  resize: none;
}

form .textarea-field .error-txt{
  margin-top: -10px;
}

form button{
  padding: 12px 32px;
  background: var(--white-color);
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: none;
  font-size: 1.25rem;
  color: var(--black-color);
  font-weight: var(--font-bold);
  cursor: pointer;
  margin-top: 20px;
  transition: .5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

form button:hover{
  box-shadow: 0 0 50px hsla(258, 89%, 39%, 0.759);
  animation: shake 0.5s ease-in-out;
}

/*=============== FOOTER ===============*/
.footer{
  padding-block: 4rem 2rem;
}

.footer__container{
  row-gap: 4rem;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-weight: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .75rem;
  cursor: pointer;
}

.footer__logo i{
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: initial;
}

.footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 4rem 3rem;
}

.footer__title{
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.footer__links{
  display: grid;
  row-gap: .75rem;
}

.footer__link{
  color: var(--text-color);
  transition: color .4s;
}

.footer__social{
  display: flex;
  column-gap: .75rem;
}

.footer__social-link{
  color: var(--text-color);
  font-size: 1.5rem;
  transition: color .4s;
}

.footer__link:hover,
.footer__social-link:hover{
  color: var(--first-color);
}

.footer__copy{
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(228, 4%, 15%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(228, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(228, 4%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--container-color);
  color: var(--title-color);
  box-shadow: 0 12px 24px hsla(228, 48%, 4%, .5);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s;
}

.scrollup:hover{
  transform: translateY(-.5rem);
}

/* Show Scroll Up */
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-inline: 1rem;
  }
  .home__title{
    font-size: 2rem;;
  }
  .home__buttons{
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer__content{
    grid-template-columns: max-content;
  }
  .feedback form {
    width: auto; /* Allows the form to adjust based on the screen size */
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  .feedback .input-box,
  .feedback .textarea-field {
    flex-direction: column; /* Stack input fields vertically */
    margin: 8px 0; /* Adds some space around inputs for easier interaction */
  }

  .feedback .input-field .item{
    width: 207%; /* Use the full width for input and textarea */
  }
  .feedback .textarea-field .item {
    width: 100%; /* Use the full width for input and textarea */
  }

  .feedback form button {
    width: 100%; /* Full-width button for better tap target on mobile */
    padding: 10px 20px; /* Adjust the padding to ensure it's touch-friendly */
    font-size: 1rem; /* Ensure text within the button is legible */
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .home__container,
  .features__container,
  .benefits__container{
    grid-template-columns: 400px;
    justify-content: center;
  }
  
  .footer__content{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (max-width: 576px) {
  .header {
    padding: 0.5rem; /* Reduce padding on smaller screens */
  }
  .feedback form {
    width: 100%; /* Full width on smaller screens */
    padding: 0 20px; /* Add some padding for not touching the edges */
  }

  .input-box {
    flex-direction: column; /* Stack inputs vertically on smaller screens */
  }
  .feedback .input-field {
    width: 100%;  /* Use the full width available */
  }

  .input-field {
    width: 100%; /* Full width for each input field */
    margin-bottom: 15px; /* Add some space between stacked inputs */
  }
  .feedback h2 {
    font-size: 24px; /* Smaller font size for headings */
  }

  .field .item {
    font-size: 14px; /* Adjust text size in input fields for better readability */
  }
  form button {
    width: 100%; /* Full width button makes it easier to tap */
    padding: 12px; /* Comfortable padding */
    font-size: 18px; /* Larger font size for readability */
  }
  .textarea-field .item {
    height: 150px; /* Provide enough space for typing messages */
  }
  .feedback form {
    margin: 20px auto; /* Center form with vertical margin */
  }
}

@media screen and (min-width: 768px){
  .nav__menu{
    width: 50%;
  }
  .features__content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .features__card:nth-child(even){
    transform: translateY(10rem);
  }
  .share-button {
    width: 200px; /* Smaller width for smaller screens */
  }
  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 5.5vw; /* Larger on smaller screens for better readability */
  }
  .home__buttons {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
  .share__container {
    padding-top: 20px;  /* Adds padding to push content below the navbar */
  }

  .share-button {
    transform: scale(0.9);  /* Optional: Scale down the button on smaller screens */
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .container{
    margin-inline: auto;
  }
  .section{
    padding-block: 7rem 2rem;
  }
  .section__title{
    margin-bottom: 1.5rem;
  }
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav_logo i{
    font-size: 1.5rem;
  }
  .nav__menu{
    width: initial;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3.5rem;
  }
  .nav__actions{
    font-size: 1.5rem;
    column-gap: 1rem;
  }

  .home__container{
    grid-template-columns: 480px 535px;
    align-items: center;
    column-gap: 4rem;
    padding-top: 4rem;
  }
  .home_img{
    width: 480px;
  }
  .home__data{
    text-align: initial;
  }
  .home__description{
    margin-bottom: 4.5rem;
  }
  .home__buttons{
    justify-content: initial;
    column-gap: 1.5rem;
  }

  .features__container{
    grid-template-columns: 412px 490px;
    align-items: center;
    column-gap: 7.5rem;
  }
  .features__data,
  .features__data .section__title{
    text-align: initial;
  }
  .features__content{
    row-gap: 8.5rem;
  }
  .features__title{
    font-size: var(--h3-font-size);
  }

  .benefits__container{
    grid-template-columns: 480px 385px;
    align-items: center;
    column-gap: 8rem;
    padding-top: 3rem;
  }
  .benefits__img{
    width: 480px;
  }
  .benefits__list{
    row-gap: 1.5rem;
  }

  .share__container{
    grid-template-columns: 280px 480px;
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
    padding: 3rem;
  }
  .share__content{
    order: -1;
    text-align: initial;
    row-gap: 2.5rem;
  }
  .share__title{
    margin-bottom: 5%;
  }
  .share__social{
    justify-content: initial;
    margin-bottom: -5%;
  }
  .share__img{
    width: 480px;
  }
  .bottom__button{
    margin-top: 10%;
  }

  .share-button {
    justify-content: center; /* Center items */
    padding: 0 0px;  /* Distribute space around items */
  }
  .share-button a {
    margin: 0 -3px; /* Add some margin between items for spacing */
  }

  .contact{
    margin-top: -10rem;
  }

  .contact__container{
    grid-template-columns: 480px 385px;
    justify-content: center;
    align-items: center;
    column-gap: 8rem;
    padding: 3rem;
  }
  .contact__content{
    order: 1;
    text-align: initial;
    row-gap: 2.5rem;
  }
  .contact__title{
    margin-bottom: 5%;
  }
  .contact__social{
    justify-content: initial;
    margin-bottom: -5%;
  }
  .contact__img{
    width: 480px;
  }
  .bottom__button{
    margin-top: 10%;
  }

  .footer__logo{
    margin-bottom: 1.5rem;
  }
  .footer__logo i{
    font-size: 2rem;
  }
  .footer__content{
    column-gap: 5.5rem;
  }
  .footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }
  .footer__social{
    column-gap: 1rem;
  }
  .footer__copy{
    margin-top: 7.5rem;
  }
  .scrollup{
    right: 3rem;
  }
}
